.login-container {
  width: 35em;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1.5em;
  transform: translate(-50%, -50%);
  border-radius: 1em !important;
  background-color: #f5f5eb; 
  color: white;
  font-family: "Arial", sans-serif; 
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 20em;
  margin: auto;
}

body {
  background-color: #f6f0ed;
}

button {
  background-color: #000;
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px;
  cursor: pointer; 
}

.register-button,
.connect-button {
  background-color: #000;
  color: #fff; 
  margin-top: 10px; 
}

button:hover {
  background-color: #333; 
}

input[type="text"],
input[type="password"] {
  border: 1px solid #000; 
  border-radius: 5px; 
  padding: 10px; 
}

input[type="text"]:hover,
input[type="password"]:hover {
  border-color: #333; 
}
