.login-container {
  width: 35em;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1.5em;
  transform: translate(-50%, -50%);
  border-radius: 1em !important;
  background-color: #f5f5eb; /* Couleur de fond pour le contenu de l'application */
  color: white;
  font-family: "Arial", sans-serif; 
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 20em;
  margin: auto;
}

/* Appliquer la couleur de fond à toute la page */
body {
  background-color: #f6f0ed;
}

/* Appliquer la couleur de fond aux boutons */
button {
  background-color: #000;
  color: #fff; /* Couleur du texte */
  border: none; /* Supprimer la bordure */
  border-radius: 5px; /* Ajouter un peu de bord arrondi */
  padding: 10px 20px; /* Ajouter du padding pour un meilleur aspect */
  cursor: pointer; /* Curseur pointer au survol */
}

/* Ajouter des styles spécifiques aux boutons de classe .register-button et .connect-button */
.register-button,
.connect-button {
  background-color: #000;
  color: #fff; /* Changer la couleur du texte si nécessaire */
  margin-top: 10px; /* Exemple de style supplémentaire */
}

/* Ajouter des styles spécifiques aux boutons au survol */
button:hover {
  background-color: #333; /* Changer la couleur au survol si nécessaire */
}

/* Ajouter une bordure noire aux cases */
input[type="text"],
input[type="password"] {
  border: 1px solid #000; /* Ajouter une bordure noire */
  border-radius: 5px; /* Ajouter un peu de bord arrondi */
  padding: 10px; /* Ajouter du padding pour un meilleur aspect */
}

/* Ajouter des styles spécifiques aux cases au survol */
input[type="text"]:hover,
input[type="password"]:hover {
  border-color: #333; /* Changer la couleur de la bordure au survol si nécessaire */
}
