.login-container {
  width: 25em;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1.5em;
  transform: translate(-50%, -50%);
  border-radius: 1em !important;
  background-color: #3b438b;
  color: white;
  font-family: "Arial", sans-serif; 
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); 
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 20em;
  margin: auto;
}

.connect-button {
  background-color: #fbc02c;
  color: #5c639f;
}

.register-button {
  background-color: transparent;
  color: white;
  font-size: 12px;
  color: #fbc02c;
  margin-top: 10px;
  align-self: flex-end;
}

input ::placeholder {
  color: #ffffff; 
}

input:hover::placeholder {
  color: #fbc02c; 
}
