.register {
  width: 35em;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1.5em;
  transform: translate(-50%, -50%);
  border-radius: 1em !important;
  background-color: #f5f5eb;
  color: white;
  font-family: "Arial", sans-serif; 
}

.register form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 20em;
  margin: auto;
}

.register input[type="text"],
.register input[type="password"],
.register button,
.table-cell form input {
  padding: 0.6em;
  border: none;
  border-radius: 0.5em;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s ease;
  background-color: #ffffff;
  width: 100%; /* Extend input fields to full width */
  color: black;
  border: 1px solid black; /* Add black border */
}

.register input[type="text"]:hover,
.register input[type="password"]:hover,
.register button:hover,
.table-cell form input:hover {
  background-color: #0B132B;
  color: #ffffff;
  cursor: pointer; /* Change cursor to pointer on hoddddddddddddddddddver */
}

.register .button-container {
  margin-top: 15px; 
}

.table-container.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-cell form input::placeholder {
  color: #304C89; 
}

.table-cell form input:hover::placeholder {
  color: #ffffff; 
}
