/* Styles globaux pour AppBar */
.AppBar {
  background-color: #fff0f3; /* Blanc rosé */
  color: #333; /* Couleur du texte */
  height: 80px; /* Hauteur du Header */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1201;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère pour un effet subtil */
}

/* Limite la largeur du contenu à 1200px */
.menu {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

/* Styles pour le logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Assure que le logo est centré */
}

.logo-container img {
  max-height: 220px; /* Ajustez la hauteur du logo selon vos besoins */
  transition: transform 0.3s ease; /* Transition fluide pour les effets au survol */
}

.logo-container img:hover {
  transform: scale(1.05); /* Agrandir légèrement le logo au survol */
}

/* Styles pour le groupe de boutons ToggleButton */
.ToggleButtonGroup {
  margin-right: 10px;
}

/* Styles pour les boutons ToggleButton */
.ToggleButton {
  background-color: #fff; /* Couleur de fond des boutons */
  color: #0d1b2a; /* Couleur du texte des boutons */
  border-color: #ffffff; /* Couleur de bordure des boutons */
}

.ToggleButton:hover {
  background-color: #bebebe; /* Couleur de fond au survol (changez cette couleur selon vos préférences) */
  color: #ffffff; /* Couleur du texte au survol */
  border-color: #ffffff; /* Couleur de bordure au survol */
}

/* Styles pour le bouton Logout */
.LogoutButton {
  color: #0d1b2a; /* Couleur du bouton Logout */
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
  
  .ToggleButtonGroup {
    margin-bottom: 10px;
  }
}
