.AppBar {
  background-color: #E8E5DA;
  color: white;
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
/* Dans votre fichier CSS (par exemple, style.css) */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');

.logo {
  max-width: 80px;
  height: auto;
}

.menu {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.ToggleButtonGroup {
  margin-right: 10px;
  color: white;
  border-color: white;
}

.LogoutButton {
  color: white;
}

.Avatar {
  margin-left: 10px;
}

.NavLink {
  text-decoration: none;
}


.link-no-style {
color: inherit;
  text-decoration: none;
  text-wrap: balance;

}


.neon-title {
  font-family: "Exo", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff; /* Couleur jaune */
  margin-top: 10px; /* Ajustez la marge selon vos besoins */

}




