a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

.welcome-text {
  font-family: "Arial", sans-serif; 
  font-size: 24px; 
  text-align: center; 
  margin-top: 30px;
  color: #666; 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); 
}
