.car-list {
  list-style: none;
  z-index: 1; /* Ensures the car list is below other elements */
}

.car-comment-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center align horizontally */
  margin-bottom: 10px;
  z-index: 2; /* Ensures the car comment container is above the car list */
}

.car-info {
  margin-right: 20px; /* Adjust as needed */
  display: flex;
  flex-wrap: wrap; 
  max-width: calc(100% - 160px); 
  z-index: 2; 
}

body {
  background-color: #ffffff; /* Sets the background color of the page */
  margin-top: 50px; /* Adds top margin to the body */
}

.car-item {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5eb; /* Sets background color */
  transition: border-width 0.3s ease, all 0.3s ease; 
  z-index: 2; /* Ensures the car item is above other elements */
}

.car-info span {
  margin-right: 10px; /* Adds space between spans */
}

.delete-button {
  background-color: transparent; /* Makes the background transparent */
  border: none; /* Removes the border */
  cursor: pointer; /* Changes cursor to pointer */
}

.delete-button:hover {
  color: red; /* Changes color to red on hover */
}

.logo-link {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo {
  width: 110px;
  height: auto; /* Maintains aspect ratio */
}

.page-title {
  text-decoration: none; /* Removes underline from links */
}

.car-item:hover {
  border-width: 2px; /* Increases border width on hover */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Adds shadow on hover */
  transform: scale(1.05); /* Scales the item up on hover */
}

.car-item img {
  transition: transform 0.3s ease; /* Smooth transformation effect */
}

.car-item:hover img {
  transform: scale(1.1); /* Scales the image up on hover */
}

.car-item:hover .car-info {
  transform: translateX(40%); 
  transition: transform 0.8s ease; 
}

.container {
  display: flex;
  flex-direction: column; /* Stacks child elements vertically */
  align-items: flex-start; 
  justify-content: flex-start; 
  z-index: 2; /* Ensures the container is above other elements */
}

.button,
.button-icon,
.button__icon,
.button__text {
  transition: all 0.3s; /* Adds smooth transitions to all properties */
}

.button {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: #dedede;
  --bg-color: #eee;
  --main-color: #323232;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer; /* Changes cursor to pointer */
  display: flex;
  align-items: center; 
  border: 2px solid var(--main-color); 
  box-shadow: 4px 4px var(--main-color); 
  background-color: var(--bg-color); 
  border-radius: 10px;
  overflow: hidden;
  background-color: transparent; /* Makes the background transparent */
  color: green;
  padding: 5px 10px;
  border: 2px solid green; /* Sets border color to green */
  border-radius: 5px;
}

.button:hover {
  background-color: green; /* Changes background color on hover */
  color: white; /* Changes text color on hover */
}

.button .button__text {
  transform: translateX(22px); /* Moves text to the right */
  color: var(--font-color); /* Sets text color */
  font-weight: 600; /* Makes text bold */
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px); /* Moves icon to the right */
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub); /* Sets background color */
  display: flex;
  align-items: center; /* Centers items vertically */
  justify-content: center; /* Centers items horizontally */
}

.button .svg {
  width: 20px;
  fill: var(--main-color); /* Sets SVG color */
}

.button:hover .button__text {
  color: transparent; /* Makes text transparent on hover */
}

.button:hover .button__icon {
  width: 148px; /* Increases icon width on hover */
  transform: translateX(0); /* Moves icon to the original position */
}

.button:active {
  transform: translate(3px, 3px); /* Moves button on active state */
  box-shadow: 0px 0px var(--main-color); /* Removes shadow on active state */
}

.custom-button {
  background-color: green; /* Sets background color */
  color: white; 
  padding: 8px 16px; /* Adds padding */
  border: none; 
  border-radius: 5px;
  cursor: pointer; /* Changes cursor to pointer */
}

.custom-button:hover {
  background-color: lightgreen; /* Changes background color on hover */
}

.cart-details {
  font-size: 12px; 
  z-index: 2; 
  opacity: 0; /* Sets initial opacity to 0 */
  transition: opacity 0.5s ease;
  color: rgb(112, 107, 107); /* Sets text color */
}

.cart-details h4 {
  font-size: 19px; /* Sets font size */
  z-index: 2; /* Ensures cart details header is above other elements */
}

.show-cart-details {
  opacity: 1; /* Sets opacity to 1 when visible */
  z-index: 2; /* Ensures visible cart details are above other elements */
}

.button-icon {
  background-color: transparent; /* Makes background transparent */
  border: none; /* Removes border */
  cursor: pointer; /* Changes cursor to pointer */
  margin: 0 5px; /* Adds margin */
  z-index: 2; 
}

.button-icon:hover {
  background-color: #E8E5DA; /* Changes background color on hover */
}

.minus {
  color: #ff6347; /* Sets color for minus icon */
}

.plus {
  color: #32cd32; /* Sets color for plus icon */
}

.quantity-controls {
  display: flex;
  align-items: center; /* Centers items vertically */
  margin-right: auto;
}

.car-container {
  position: relative; /* Ensure elements are positioned relatively */
  z-index: 1; /* Set z-index to place elements above the background */
}

.left-align {
  text-align: left;
  color: #28536B;
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 900; /* Makes text bold */
}

@keyframes shine {
  0% {
    background-position: -500px;
  }
  100% {
    background-position: 500px;
  }
}

.left-align::after {
  content: '';
  position: absolute;
  top: 1;
  left: 0;
  width: 25%;
  height: 80%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.174), transparent 50%, rgba(255, 255, 255, 0.415)) repeat-x;
  background-size: 500px 100%;
  animation: shine 2s infinite linear; /* Adds shine animation */
}

.car-item.selected {
  background-color: #3A506B; /* Sets background color for selected items */
  color: white; /* Sets text color for selected items */
}
