.App {
  text-align: center;
  background-color: #F6F0ED;
}

main {
  padding: 2.5em 0.5em;
  background-color: #F6F0ED;

}

header.css-1r11njw-MuiPaper-root-MuiAppBar-root,
footer {
  background-color: rgb(111, 106, 185);
  color: #fff;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2),
    0px -4px 5px 0px rgba(0, 0, 0, 0.14), 0px -1px 10px 0px rgba(0, 0, 0, 0.12);
}


