body {
  margin: 0; /* Supprime les marges par défaut du corps */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 2.5em 0.5em;
  
    flex: 1;
  
  background-color: #ffffff; /* Couleur de fond pour la section principale */
}

header, footer {
  background-color: rgb(111, 106, 185); /* Couleur de fond pour l'en-tête et le pied de page */
  color: #fff;
  width: 100%;
}

footer {
  background-color: #00171F;
  color: white;
  text-align: center;
  padding: 0.2rem;
  width: 100%;
  position: sticky;
  bottom: 0;
}


.car-container {
  position: relative; /* Assurez-vous que les éléments sont positionnés de manière relative */
  z-index: 2; /* Définissez le z-index pour placer ces éléments au-dessus de l'arrière-plan */
}


.striped-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5eb;  /* Assurez-vous que l'arrière-plan est en dessous du contenu principal */

}

/* styles.css de la page appartement */

.app-container {
  position: relative; /* Assurez-vous que l'élément parent a une position définie */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-wrap: balance

}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #001f3f; /* Fond bleu marine */
  color: #fff; /* Texte blanc pour contraste */
  padding: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  z-index: 1001; /* Juste au-dessus de l'overlay */
  font-family: Exo, Helvetica, sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Sombre en arrière-plan */
  backdrop-filter: blur(10px); /* Effet de flou */
  z-index: 1000; /* Derrière la popup mais devant le contenu principal */
  transition: background-color 0.3s ease, transform 0.3s ease;

}

.appartement {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  background: #ffffff;
  width: 300px; /* Largeur fixe pour chaque appartement */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d; /* Pour la surélévation 3D */
  text-wrap: balance;
  font-family: Exo, Helvetica, sans-serif;
}

.appartement:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#appartements-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Espacement entre les éléments */
  margin-bottom: 20px;
  justify-content: center; /* Centrer les appartements */
  transition: background-color 0.3s ease, transform 0.3s ease;

}

#ajouter-appartement-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: green;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

#ajouter-appartement-btn:hover {
  background-color: darkgreen; /* Change la couleur au survol */
}

#ajouter-appartement-formulaire label {
  display: block;
  margin-bottom: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;

}

#ajouter-appartement-formulaire input {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#ajouter-appartement-formulaire button {
  padding: 10px 18px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 10px; /* Espacement entre les boutons */
  margin-top: 2em;
}

#ajouter-appartement-formulaire button[type="button"] {
  background-color: #a44848;
  gap: 50px; /* Espacement entre les éléments */

}

#ajouter-appartement-formulaire button:hover {
  background-color: #0ac536;
}

#ajouter-appartement-formulaire button[type="button"]:hover {
  background-color: #d01919;
}

.h3{
  text-wrap: balance;
}

  
.intro-appart{
margin-bottom: 3em;
font-family: Exo, "Helvetica Neue", Helvetica, sans-serif;
font-size: 1.1em
}



/** welcome css**/

.nav-link:hover {
  transform: translateY(-1.4px) rotateX(4deg);
  background-color: #e9dfda;
  transition: transform 0.3s ease;
}

